@import "../bower_components/mrwhite-scss-mixins/reset";
@import "../bower_components/mrwhite-scss-mixins/mixins";

$margin: 40px;

body {
  font-family: 'Open Sans', sans-serif;
  margin:0;
}

h2 {
  color: #0089B9;
}

.wrapper {
  margin: 0 auto;
  width: 970px;
}

//
// Colors
// --------------------------------------------------
.colors {
  ul {
    @include box-sizing;

    padding: ($margin * 2 + 20px) ($margin * 2);
  }

  .color {
    display: inline-block;
    margin-right: $margin;

    &:nth-child(n+5) { margin-top: $margin; }

    .color-blob {
      $size: 100px;

      @include border-radius(3px);
      @include size($size);

      margin-bottom: $margin / 2;
      position: relative;
    }

    span {
      font-weight:700;
      text-transform: uppercase;
    }
  }
}