@import "../bower_components/mrwhite-scss-mixins/mixins";

$aside-width: 30%;
$margin: 40px;

body {
  font-family: 'Open Sans', sans-serif;
  margin:0;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

h2 {
  color: #0089B9;
}

.wrapper {
  aside {
    @include box-sizing();
    @include size(30%, 100%);

    background: #f5f5f5;
    float: left;
    max-width: $aside-width;
    padding: $margin;
    padding-left: $margin + 20px;
  }
}

.colors {
  ul {
    @include box-sizing();

    float:left;
    max-width: 100% - $aside-width;
    padding: ($margin * 2 + 20px) ($margin * 2);
  }

  .color {
    display: inline-block;
    margin-right: $margin;

    &:nth-child(n+5) {
      margin-top: $margin;
    }

    .color-blob {
      $size: 100px;

      @include border-radius($size);
      @include size($size);

      margin-bottom: $margin / 2;
      position: relative;
    }

    span {
      font-weight:700;
      text-transform: uppercase;
    }
  }
}